html {
  --game-font: "Press Start 2P", Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  --pokeblue-color: rgb(68, 25, 168);
  --pokeyellow-color: rgb(248, 226, 26);
  --pokepurple-color: rgb(60, 45, 124);
  --pokedarkpurple-color: rgb(18, 18, 34);
  --neonorange-color: rgb(255, 94, 0);
  --neonorangeglow-color: rgb(255, 187, 0);
  --darkorange-color: rgb(114, 46, 0);
  --racetimer-color: rgb(20, 20, 20);
  --black10-color: rgb(10, 10, 10);
  --darkred-color: rgb(99, 0, 0);
  --neonred-color: rgb(255, 0, 0);
  --darkyellow-color: rgb(91, 54, 0);
  --neonyellow-color: rgb(249, 191, 0);
  --darkgreen-color: rgb(9, 70, 0);
  --neongreen-color: rgb(30, 225, 0);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--game-font);
  background: var(--pokedarkpurple-color);
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    var(--pokedarkpurple-color) 0%,
    var(--pokepurple-color) 100%
  );
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

a:active {
  color: yellow;
  transform: translateX(0.25rem) translateY(0.25rem);
}

* {
  box-sizing: border-box;
}

/* CSS for iOS only */
@supports (-webkit-touch-callout: none) {
  html,
  body {
    /* fix mobile viewport */
    height: -webkit-fill-available;
    min-height: -webkit-fill-available;
  }
}
