.container {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 100vh;
}

.nav {
  color: magenta;
  background: var(--pokeblue-color);
  display: block;
  width: 100vw;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid magenta;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  flex: 1;
  max-width: 900px;
  text-shadow: 0.25em 0.25em var(--pokedarkpurple-color);
}

.navlogo {
  font-size: 1rem;
}

.navbar span {
  flex: 1;
}

.navbar a {
  padding: 0.5rem 0.75rem;
  border: 0.25rem solid transparent;
}

.navbar a:hover {
  border-bottom: 0.25rem solid yellow;
}

.navbar a:focus {
  border-bottom: 0.25rem solid yellow;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.racetimer {
  z-index: 1;
  cursor: pointer;
  align-self: flex-start;
  background: var(--black10-color);
  font-size: 7rem;
  padding: 0.25em;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  border-top: 2px solid black;
}

.racetimer_unlit {
  color: var(--darkorange-color);
  text-align: center;
}

.racetimer_unlit_sss {
  font-size: 0.66em;
  color: var(--darkorange-color);
  text-align: center;
}

.racetimer_lit {
  color: var(--neonorange-color);
  text-shadow: 0 0 3px white, 0 0 12px var(--neonorange-color),
    0 0 48px var(--neonorange-color);
  text-align: center;
}

.racetimer_lit_sss {
  font-size: 0.66em;
  color: var(--neonorange-color);
  text-shadow: 0 0 3px white, 0 0 12px var(--neonorange-color),
    0 0 48px var(--neonorange-color);
  text-align: center;
}

.raceTree {
  font-size: 5rem;
  padding-bottom: 1rem;
  align-self: center;
}

.raceTreeRed {
  text-align: center;
  color: var(--darkred-color);
}
.raceTreeYellow {
  text-align: center;
  color: var(--darkyellow-color);
}
.raceTreeGreen {
  text-align: center;
  color: var(--darkgreen-color);
}
.raceTreeRedLit {
  text-align: center;
  color: var(--neonred-color);
  text-shadow: 0 0 3px white, 0 0 12px var(--neonred-color),
    0 0 48px var(--neonred-color);
}
.raceTreeYellowLit {
  text-align: center;
  color: var(--neonyellow-color);
  text-shadow: 0 0 3px white, 0 0 12px var(--neonyellow-color),
    0 0 48px var(--neonyellow-color);
}
.raceTreeGreenLit {
  text-align: center;
  color: var(--neongreen-color);
  text-shadow: 0 0 3px white, 0 0 12px var(--neongreen-color),
    0 0 48px var(--neongreen-color);
}

.footer {
  width: 100vw;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 0.5rem;
}

.btnstart {
  border: 2px solid magenta;
  cursor: pointer;
  font-size: 3rem;
  flex: 1;
  color: magenta;
  text-shadow: 0.125em 0.125em var(--pokedarkpurple-color);
  font-family: var(--game-font);
  background: var(--pokeblue-color);
  background: linear-gradient(
    180deg,
    var(--pokeblue-color) 50%,
    var(--pokepurple-color) 51%,
    var(--pokeblue-color) 100%
  );
  transform: translateX(-0.25rem) translateY(-0.25rem);
  max-width: 800px;
}

.btnstart:active {
  transform: none;
  color: yellow;
  background: var(--pokedarkpurple-color);
  border: 0.5rem dashed yellow;
}

.btnstart:focus,
.btnstart:hover {
  border: 0.5rem dashed yellow;
}

.btnshadow {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: stretch;
  background: var(--black10-color);
  max-width: 800px;
}

.raceScreen {
  width: 100vw;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.raceBanner {
  z-index: 1;
  cursor: pointer;
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.75);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
}

.raceMessage {
  text-align: center;
  color: var(--pokeyellow-color);
  line-height: 1.25;
  font-size: 3.5rem;
  animation: flyin cubic-bezier(0.1, 1, 0.22, 1.33) 0.2s;
  z-index: 1;
  /* fix artifacts */
  backface-visibility: hidden;
  width: 90vw;
  max-width: 1200px;
  padding-bottom: 1rem;
}

@keyframes flyin {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
}

.raceBanner img {
  border-radius: 3px;
  max-width: 100vw;
  animation: flyin cubic-bezier(0.1, 1, 0.22, 1.33) 0.2s;
}

.grid {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  background: pink;
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 45%;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 900px) {
  .racetimer {
    font-size: 6rem;
  }

  .raceMessage {
    font-size: 3rem;
  }

  .raceTree {
    font-size: 5rem;
  }

  .btnstart {
    font-size: 2rem;
  }
}

@media (max-width: 800px) {
  .racetimer {
    font-size: 5rem;
  }

  .raceMessage {
    font-size: 2.5rem;
  }
}

@media (max-width: 700px) {
  .racetimer {
    font-size: 4rem;
  }

  .raceMessage {
    font-size: 2rem;
  }
}

@media (max-width: 600px) {
  .racetimer {
    font-size: 3rem;
  }

  .raceMessage {
    font-size: 1.5rem;
  }

  .raceTree {
    font-size: 3rem;
  }

  .btnstart {
    font-size: 2rem;
  }
}

@media (max-width: 400px) {
  .raceTree {
    font-size: 2rem;
  }
}

@media (min-height: 1000px) and (min-width: 800px) {
  .raceTree {
    font-size: 8rem;
  }
}

@media (max-height: 850px) and (max-device-height: 850px) {
  .raceTree {
    font-size: 3rem;
  }
}

@media (max-device-height: 500px) {
  .racetimer {
    font-size: 2.5rem;
  }

  .raceMessage {
    font-size: 1.25rem;
  }

  .raceTree {
    font-size: 2rem;
  }

  .btnstart {
    font-size: 1.25rem;
  }
}

/* CSS for iOS only */
@supports (-webkit-touch-callout: none) {
  .container {
    /* fix mobile viewport */
    height: -webkit-fill-available;
    min-height: -webkit-fill-available;
  }

  .nav {
    font-size: 0.75rem;
  }
}
